@using WebApplication4.Models
@model ModelStudent
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<html>
    <head></head>
    <body>
        <h1>@Model.Roll</h1>
        <h2>@Model.Name</h2>
    </body>
</html>
