
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>This is first mvc project</h1>
    <h2>Hello</h2>
    <h3>World</h3>
</body>
</html>
