@using WebApplication3.Models;
@model ModelStudent;
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <!--<form method="post" asp-controller="Student" asp-action="Create">
        <div asp-validation-summary="All"></div>
        <label asp-for="Roll"></label>
        <input asp-for="Roll" />
        <br />
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <br />
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <br />
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" />
        <br />
        <button type="submit">Regisgter</button>

    </form> -->
</body>
</html>
