@page
@using WebApplication3.Models
@model ModelStudent
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<html>
<body>
    <h1>@Model.Roll</h1>
    <h2>@Model.Name</h2>
    
    <partial name="_MeroPartial" />
</body>
</html>