<html>
    <head></head>
    <body>
        <form method="post" action="Home/PostCreate">
            <input type="number" name="Num1" />
            <input type="number" name="Num2" />
            <button type="submit">Submit</button>
        </form>
    </body>
</html>