
	<form method="post" asp-controller="home" asp-action="add">
	<label asp-for="Roll"></label>
		<input type="number" name="Roll" asp-for="Roll" />	
	
	<label asp-for="Name"></label>
		<input type="text" name="Name" asp-for="Name" />	
	
	<button type="Submit">Add Student</button>
	</form>
