@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<html>
    <head></head>
    <body>
        <form method="post" asp-controller="TagHelper" asp-action="PostCreate">

        </form>
        <button type="submit">Submit</button>
    </body>

</html>