<html>
    <head>
        <link rel="stylesheet" href="~/StyleSheet.css" />
    </head>
    <body>
        @{
    int a = 5;
    int b = 6;
    int c = a + b;
    }

    <h1>Sum is @c</h1>
    </body>
</html>

